:root {
	--font-size-base: 20px; // Don't change unless you are really bored! - defines HTML element font-size!
  --font-0: calc((10 / 20) * 1rem); // 10px
  --font-1: calc((11 / 20) * 1rem); // 11px
  --font-2: calc((12 / 20) * 1rem); // 12px
  --font-3: calc((13 / 20) * 1rem); // 13px
  --font-4: calc((14 / 20) * 1rem); // 14px
  --font-5: calc((16 / 20) * 1rem); // 16px
  --font-6: calc((18 / 20) * 1rem); // 18px
  --font-7: calc((20 / 20) * 1rem); // 20px
  --font-8: calc((22 / 20) * 1rem); // 22px
  --font-9: calc((24 / 20) * 1rem); // 24px
  --font-10: calc((30 / 20) * 1rem); // 30px
  --font-11: calc((36 / 20) * 1rem); // 36px
  --font-12: calc((42 / 20) * 1rem); // 42px
  --font-13: calc((48 / 20) * 1rem); // 48px
  --font-14: calc((54 / 20) * 1rem); // 54px
  --font-15: calc((60 / 20) * 1rem); // 60px
  --font-16: calc((80 / 20) * 1rem); // 80px

  --spacer: 0.8rem; // 16px
  --space-0: calc(var(--spacer) * 0.125); // 4px
  --space-1: calc(var(--spacer) * 0.25); // 4px
  --space-2: calc(var(--spacer) * 0.5); // 8px
  --space-3: calc(var(--spacer) * 0.75); // 12px
  --space-4: var(--spacer); // 16px
  --space-5: calc(var(--spacer) * 1.5); // 24px
  --space-6: calc(var(--spacer) * 2); // 32px
  --space-7: calc(var(--spacer) * 3); // 48px
  --space-8: calc(var(--spacer) * 4); // 64px
  --space-9: calc(var(--spacer) * 5.5); // 88px

  --font-base: 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  

  --font-size-h1: var(--font-15);
  --font-size-h2: var(--font-9);
  --font-size-h3: var(--font-8);
  --font-size-h3: clamp(var(--font-7), 4vw, var(--font-8));
  --font-size-h4: var(--font-7);
  --font-size-h5: var(--font-6);
  --font-size-h6: var(--font-5);
  --font-size-p: var(--font-6);

  --body-100: #1a1a1a;
  --body-200: #333333;
  --body-300: #4d4d4d;
  --body-400: #666666;
  --body-500: #808080;
  --body-600: #999999;
  --body-700: #b3b3b3;
  --body-800: #cccccc;
  --body-900: #e6e6e6;
  --body-1000: #f7f7f7;


  --primary-100: #2f0408;
  --primary-200: #42050b;
  --primary-300: #680812;
  --primary-400: #9c0c1a;
  --primary-500: #d41124;
  --primary-600: #ef3d4f;
  --primary-700: #f36d7a;
  --primary-800: #f797a0;
  --primary-900: #fcc5ca;
  --primary-1000: #ffebed;

  --info: #4F55DA;
  --success: #b3ce46;
  --warning: #ffcb47;

  --warning: #f6c343;
  --warning-contrast: rgba(0,0,0,.8);
  --danger: #F06445;

  --info-rgb: 79,85,218;
  --success-rgb: 179,206,70;
  --warning-rgb: 255,203,71;
  --danger-rgb: 240,100,69;
}
  